@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    .max-width {
        @apply w-[80%] mx-auto p-2 max-w-7xl;
    }
}
