@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    .max-width {
        @apply w-[90%] lg:w-[80%] mx-auto p-2;
    }
}

*,
body {
    font-family: var(--font-inter);
    scroll-behavior: smooth;
}

.fade-up {
    animation: fade-up 0.2s ease-in forwards;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translatey(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
