.animate-track {
    animation: track 30s linear infinite;
}

.animate-track-down {
    animation: track 30s linear infinite reverse;
}

@keyframes track {
    to {
        transform: translateY(-50%);
    }
}

.faded-border {
    border: 5px solid;
    border-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)
        )
        1;
    padding: 20px;
}

.animate-gradient {
    background-size: 400%;
    background-position: center;
    animation: gradient 5s ease-in-out infinite alternate;
}

.animate-track-x {
    animation: trackX 10s linear infinite;
}
@keyframes gradient {
    0% {
        background-position: left;
    }
    /* 50% {
        background-position: 50% 50%;
    } */
    100% {
        background-position: right;
    }
}

@keyframes trackX {
    to {
        transform: translateX(-427%);
    }
}
